body {
    background-color: #1e1e1e;
    color: #ffffff;
}

h1 {   
    font-family: "Times New Roman", Times, serif;
    font-size: 120%;
    margin-top: 30px;
    margin-left: 30px;
    margin-bottom: 10px;
    padding-right: 155px;
    padding-left: 155px;
    text-shadow: 3px 3px #777777;
    background-color: #333333;
    border: #444444;
    border-width: 7px;
    border-style: solid;
    border-radius: 10px;
    filter: blur(1px);
    width: max-content ;
}

h3 {   
    font-family: "Times New Roman", Times, serif;
    color:  #ffffff;
    font-size: 48%;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #333333;
    border: #444444;
    border-width: 7px;
    border-style: solid;
    border-radius: 10px;
    filter: blur(1px); 
}

dialog {
    background-color: #1e1e1e;
    border: solid gray 2px;
    border-radius: 10px;
    color: #ffffff;
}

button {
    background-color: #1e1e1e;
    border: solid gray 2px;
    padding: 10px;
    color: #ffffff;
}

.backgroundCanvas {
    box-shadow: 5px 5px 10px #444444;
    border-radius: 50px;
    filter: blur(2px);
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: -1;
}

.gameCanvas {
    box-shadow: 5px 5px 10px #444444;
    border-radius: 50px;
    filter: blur(2px);
    margin-left: 30px;
    float: left;
    opacity: 0.85;
    text-align: center;
}

.highScores {
    border: 20px solid #1e1e1e;
    border-radius: 50px;
    margin-left: 30px;
    float: left;
    background-color: #1e1e1e;
    opacity: 0.85;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 550px;
    font-size: 20px;
}

.nextShapeCanvas{
    box-shadow: 5px 5px 10px #444444;
    border-radius: 50px;
    filter: blur(2px); 
    margin: 20px;
}

.info{
    float: left;
    margin-left: 20px;
}

#gameInfoPanel {
    display: none;
}